@import '../styles/Main.scss';

.favorite-shows-list {
  margin: 0 auto;
  margin-top: 32px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  grid-gap: 15px;
  justify-items: center;
  justify-content: center;

  &__item {
    display: flex;
    justify-content: center;
    transition: 0.5s all;
    &:hover {
      transform: scale(1.05);
    }
    &__title {
      font-weight: bold;
    }
  }
}
