@import '../styles/Main.scss';

.show-details {
  padding: 0 10px;
  padding-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__image,
  &__title,
  &__play-button,
  &__navigation,
  &__season-selector {
    margin-bottom: 10px;
  }

  &__play-button {
    width: 210px;
    height: 26px;
    background-color: red;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: bold;
    background-color: rgb(255, 197, 89);
    &__text {
      transition: all 0.2s;
    }
    &:hover {
      background-color: orange;
      transform: translate(0, -2px);
      box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.46);
    }
    &:active {
      transform: translate(0, 0);
      box-shadow: none;
    }
  }

  &__navigation {
    width: 210px;
    display: flex;
    justify-content: space-between;
    &__item {
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: orange;
      }
    }
    .selected {
      color: orange;
      border-bottom: 2px solid orange;
    }
  }
  &__info {
    text-align: justify;
    max-width: 500px;
  }
  &__season-selector {
    width: 210px;
  }
  &__episode-list {
    display: flex;
    flex-direction: column;
    width: 210px;
    font-size: 12px;
    &__item {
      display: flex;
      transition: all 0.2s;
      margin-bottom: 10px;
      text-align: left;

      &__image {
        width: 50px;
      }
      &__number {
        width: 15px;
        margin: 0 5px;
      }
      &:hover {
        background-color: orange;
      }
    }
  }
}
