.favorite-shows-list {
  margin: auto;
  margin-top: 32px;
  width: 90%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;

  &__item {
    margin: 5px auto;
  }
}
